/* reiniciar el navegador para evitar diferencias de estilos*/
*{ 
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/* estilos generales del cuerpo de la pagina*/
body{
font-family: Arial, Helvetica, sans-serif;
line-height:1.6;
background:rgba(0, 179, 255, 0.936);
color:rgb(0, 0, 0);
}

/* estilo para el encabezado para el degradado*/
.site-header{
    background: linear-gradient(blue,rgba(0, 0, 255, 0.056));
    color: #000000f7;
    padding:1rem;
    text-align: center; 

}